{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .asteriskField{
            display: none;
        }
    </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Student Application Form</title>
</head>
 <body class="d-flex align-items-center py-4 bg-body-tertiary">
  <main class="container form-signin w-100 m-auto" style="display: flex;justify-content: center">
    <form method="post"enctype="multipart/form-data">
        {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Student Application</h1>
      <div class="form-floating">
        {{ form|crispy }}
        <button class="btn btn-primary w-100 py-2" type="submit">Apply</button>
      </div>
    </form>
  </main>
</body>
</html>